<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Protected Page</a>
    <a class="navbar-brand" href="http://localhost:5000/index.html">Cities Database</a>
</nav>

<div>
    <h2>This page is only visible to logged in users</h2>
</div>